@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent-500: #0a8939;
    --accent-500-dark: #000d8a;
    --black: 15, 18, 25;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --zinc-50: #f9fafb;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #a1a1aa;
    --zinc-500: #71717a;
    --zinc-600: #373737;
    --zinc-700: #242424;
    --zinc-800: #121212;
    --zinc-900: #000000;
    --black: #000000;
    --frosted-color: #18181b99;
    --frosted: blur(20px);
    --gray-gradient: rgba(var(--gray-light), 50%), #fff;
    --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
        0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

* {
    font-family: var(--font-noto-sans);
}

body {
    margin: 0;
    padding: 0;
    text-align: left;
    background: var(--black);
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--zinc-50);
    font-size: 20px;
}
main {
    padding: 0rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem 0;
    color: var(--zinc-50);
}
h1 {
    font-size: 3.052em;
    line-height: 1.2 !important;
}
h2 {
    font-size: 2.441em;
}
h3 {
    font-size: 1.953em;
}
h4 {
    font-size: 1.563em;
}
h5 {
    font-size: 1.25em;
}
strong,
b {
    font-weight: 700;
}
p {
    margin-bottom: 1em;
    font-weight: 400;
}

.prose p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.prose p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.scroll-component p {
    margin-top: 0em;
    margin-bottom: 0.2em;
}
.prose blockquote {
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 150%;
}
.prose li div {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.prose h2,
.prose h3,
.prose h4,
.prose h5 {
    color: white;
}
.prose h2 {
    margin-top: 2em;
    margin-bottom: 0em;
}
.prose strong {
    color: white;
}
.prose a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}
.prose a:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.prose a:focus {
    color: white;
}
.prose a:visited {
    color: white;
}
textarea {
    width: 100%;
    font-size: 16px;
}
input {
    font-size: 16px;
}
table {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
code {
    padding: 2px 5px;
    background-color: rgb(var(--gray-light));
    border-radius: 2px;
}
pre {
    padding: 1.5em;
    border-radius: 8px;
}
pre > code {
    all: unset;
}
hr {
    border: none;
    border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
    body {
        font-size: 18px;
    }
}

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers,  clipPath works inwards from each corner */
    clippath: inset(50%);
    /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
}
.social-links {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}
.social-links a {
    text-decoration: none;
    color: var(--zinc-400);
}
.social-links a:hover {
    color: var(--zinc-50);
}
.blogCard:nth-child(2) {
    grid-column: span 3 / span 3;
}
@media (max-width: 1024px) {
    .blogCard:nth-child(2) {
        grid-column: span 6 / span 6;
    }
}

.progress {
    height: 0.2rem;
    background: var(--accent-500);
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    transform-origin: 0 50%;
    animation: scaleProgress auto linear;
    animation-timeline: scroll(root);
    z-index: 999;
    border-radius: 8px;
}

@media (max-width: 1024px) {
    .progress {
        top: 0px;
        height: 0.1rem;
    }
}

@keyframes scaleProgress {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.textStroke {
    text-shadow: -1.5px -1.5px 0 var(--accent-500),
        1.5px -1.5px 0 var(--accent-500), -1.5px 1.5px 0 var(--accent-500),
        1.5px 1.5px 0 var(--accent-500);
}
